<div class="card shadow mb-4">
    <img src="@($"{APIEndpoints.ServerBaseUrl}/{Project.ScreenshotImagePath}")" class="card-img-top" alt="Project screenshot image" />
    <div class="card-body">
        <h3 class="card-title">@Project.Name</h3>
        <p class="text-muted">Added on @Project.PublishDate.Split(' ').First()</p>
        <p class="card-text">@(String.Join(" ", Project.Description.Split().Take(25).ToArray()))...</p>
    </div>

    <a href="@($"/portfolio/{Category.Name.ConvertTitleToURL().ToLowerInvariant()}/{Project.Name.ConvertTitleToURL().ToLowerInvariant()}")" class="btn btn-primary stretched-link md-f-size-1-5">
        <i class="fas fa-desktop"></i> View projects    
    </a>
</div>

@code {
    [Parameter] public Project Project { get; set; }
    [Parameter] public ProjectCategory Category { get; set; }
}
